.outline {
  width: 300px;
  border: solid 1px #aaa;
}


.parentArea {
  line-height: 2;

  button {
    margin-right: 3px;
  }
}

.childrenArea {
  display: flex;

  .child {
    width: auto;
    border: solid 3px #eee;
    background-color: green;
    color: white;
    padding: 3px;
  }
}

